Source: wazo-dist
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12), dh-python, python3-all, python3-setuptools
Standards-Version: 4.2.1
X-Python3-Version: >= 3.9

Package: wazo-dist
Architecture: all
Depends:
  ${python3:Depends},
  ${misc:Depends},
  python3-setuptools
Description: Wazo repository sources manager
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
