Source: xivo-dist
Section: python
Priority: extra
Maintainer: XiVO Dev Team <dev@avencall.com>
Uploaders: XiVO Builder Team <release@xivo.io>
Build-Depends: debhelper (>= 8), dh-python, python-all (>= 2.7), python-setuptools
Standards-Version: 3.9.4
X-Python-Version: >= 2.7
Homepage: http://github.com/xivo-pbx/

Package: xivo-dist
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Provides:  pf-fai,
           pf-fai-dev,
           pf-fai-xivo,
           pf-fai-xivo-1.2-skaro,
           pf-fai-xivo-1.2-skaro-1.2,
           pf-fai-xivo-1.2-skaro-1.2.1,
           pf-fai-xivo-1.2-skaro-1.2.10,
           pf-fai-xivo-1.2-skaro-1.2.11,
           pf-fai-xivo-1.2-skaro-1.2.12,
           pf-fai-xivo-1.2-skaro-1.2.2,
           pf-fai-xivo-1.2-skaro-1.2.3,
           pf-fai-xivo-1.2-skaro-1.2.4,
           pf-fai-xivo-1.2-skaro-1.2.5,
           pf-fai-xivo-1.2-skaro-1.2.6,
           pf-fai-xivo-1.2-skaro-1.2.7,
           pf-fai-xivo-1.2-skaro-1.2.9,
           pf-fai-xivo-1.2-skaro-dev,
           pf-fai-xivo-1.2-skaro-rc,
           xivo-fai,
           xivo-fai-13.25,
           xivo-fai-14.01,
           xivo-fai-14.02,
           xivo-fai-14.03,
           xivo-fai-14.04,
           xivo-fai-14.05,
           xivo-fai-14.06,
           xivo-fai-14.07,
           xivo-fai-14.08,
           xivo-fai-14.09,
           xivo-fai-14.10,
           xivo-fai-14.11,
           xivo-fai-14.12,
           xivo-fai-14.13,
           xivo-fai-14.14,
           xivo-fai-14.15,
           xivo-fai-14.16,
           xivo-fai-14.17,
           xivo-fai-asterisk-old,
           xivo-fai-asterisk-rc,
           xivo-fai-dev,
           xivo-fai-rc,
           xivo-fai-skaro,
           xivo-fai-skaro-12.14,
           xivo-fai-skaro-12.15,
           xivo-fai-skaro-12.16,
           xivo-fai-skaro-12.17,
           xivo-fai-skaro-12.18,
           xivo-fai-skaro-12.19,
           xivo-fai-skaro-12.20,
           xivo-fai-skaro-12.21,
           xivo-fai-skaro-12.22,
           xivo-fai-skaro-12.24,
           xivo-fai-skaro-13.01,
           xivo-fai-skaro-13.02,
           xivo-fai-skaro-13.03,
           xivo-fai-skaro-13.04,
           xivo-fai-skaro-13.05,
           xivo-fai-skaro-13.06,
           xivo-fai-skaro-13.07,
           xivo-fai-skaro-13.08,
           xivo-fai-skaro-13.09,
           xivo-fai-skaro-13.10,
           xivo-fai-skaro-13.11,
           xivo-fai-skaro-13.12,
           xivo-fai-skaro-13.13,
           xivo-fai-skaro-13.14,
           xivo-fai-skaro-13.16,
           xivo-fai-skaro-13.17,
           xivo-fai-skaro-13.19,
           xivo-fai-skaro-13.20,
           xivo-fai-skaro-13.21,
           xivo-fai-skaro-13.22,
           xivo-fai-skaro-13.23,
           xivo-fai-skaro-dev,
           xivo-fai-skaro-rc,
           xivo-wheezy-fai,
           xivo-wheezy-fai-skaro-dev
Replaces:  pf-fai,
           pf-fai-dev,
           pf-fai-xivo,
           pf-fai-xivo-1.2-skaro,
           pf-fai-xivo-1.2-skaro-1.2,
           pf-fai-xivo-1.2-skaro-1.2.1,
           pf-fai-xivo-1.2-skaro-1.2.10,
           pf-fai-xivo-1.2-skaro-1.2.11,
           pf-fai-xivo-1.2-skaro-1.2.12,
           pf-fai-xivo-1.2-skaro-1.2.2,
           pf-fai-xivo-1.2-skaro-1.2.3,
           pf-fai-xivo-1.2-skaro-1.2.4,
           pf-fai-xivo-1.2-skaro-1.2.5,
           pf-fai-xivo-1.2-skaro-1.2.6,
           pf-fai-xivo-1.2-skaro-1.2.7,
           pf-fai-xivo-1.2-skaro-1.2.9,
           pf-fai-xivo-1.2-skaro-dev,
           pf-fai-xivo-1.2-skaro-rc,
           xivo-fai,
           xivo-fai-13.25,
           xivo-fai-14.01,
           xivo-fai-14.02,
           xivo-fai-14.03,
           xivo-fai-14.04,
           xivo-fai-14.05,
           xivo-fai-14.06,
           xivo-fai-14.07,
           xivo-fai-14.08,
           xivo-fai-14.09,
           xivo-fai-14.10,
           xivo-fai-14.11,
           xivo-fai-14.12,
           xivo-fai-14.13,
           xivo-fai-14.14,
           xivo-fai-14.15,
           xivo-fai-14.16,
           xivo-fai-14.17,
           xivo-fai-asterisk-old,
           xivo-fai-asterisk-rc,
           xivo-fai-dev,
           xivo-fai-rc,
           xivo-fai-skaro,
           xivo-fai-skaro-12.14,
           xivo-fai-skaro-12.15,
           xivo-fai-skaro-12.16,
           xivo-fai-skaro-12.17,
           xivo-fai-skaro-12.18,
           xivo-fai-skaro-12.19,
           xivo-fai-skaro-12.20,
           xivo-fai-skaro-12.21,
           xivo-fai-skaro-12.22,
           xivo-fai-skaro-12.24,
           xivo-fai-skaro-13.01,
           xivo-fai-skaro-13.02,
           xivo-fai-skaro-13.03,
           xivo-fai-skaro-13.04,
           xivo-fai-skaro-13.05,
           xivo-fai-skaro-13.06,
           xivo-fai-skaro-13.07,
           xivo-fai-skaro-13.08,
           xivo-fai-skaro-13.09,
           xivo-fai-skaro-13.10,
           xivo-fai-skaro-13.11,
           xivo-fai-skaro-13.12,
           xivo-fai-skaro-13.13,
           xivo-fai-skaro-13.14,
           xivo-fai-skaro-13.16,
           xivo-fai-skaro-13.17,
           xivo-fai-skaro-13.19,
           xivo-fai-skaro-13.20,
           xivo-fai-skaro-13.21,
           xivo-fai-skaro-13.22,
           xivo-fai-skaro-13.23,
           xivo-fai-skaro-dev,
           xivo-fai-skaro-rc,
           xivo-wheezy-fai,
           xivo-wheezy-fai-skaro-dev
Conflicts: pf-fai,
           pf-fai-dev,
           pf-fai-xivo,
           pf-fai-xivo-1.2-skaro,
           pf-fai-xivo-1.2-skaro-1.2,
           pf-fai-xivo-1.2-skaro-1.2.1,
           pf-fai-xivo-1.2-skaro-1.2.10,
           pf-fai-xivo-1.2-skaro-1.2.11,
           pf-fai-xivo-1.2-skaro-1.2.12,
           pf-fai-xivo-1.2-skaro-1.2.2,
           pf-fai-xivo-1.2-skaro-1.2.3,
           pf-fai-xivo-1.2-skaro-1.2.4,
           pf-fai-xivo-1.2-skaro-1.2.5,
           pf-fai-xivo-1.2-skaro-1.2.6,
           pf-fai-xivo-1.2-skaro-1.2.7,
           pf-fai-xivo-1.2-skaro-1.2.9,
           pf-fai-xivo-1.2-skaro-dev,
           pf-fai-xivo-1.2-skaro-rc,
           xivo-fai,
           xivo-fai-13.25,
           xivo-fai-14.01,
           xivo-fai-14.02,
           xivo-fai-14.03,
           xivo-fai-14.04,
           xivo-fai-14.05,
           xivo-fai-14.06,
           xivo-fai-14.07,
           xivo-fai-14.08,
           xivo-fai-14.09,
           xivo-fai-14.10,
           xivo-fai-14.11,
           xivo-fai-14.12,
           xivo-fai-14.13,
           xivo-fai-14.14,
           xivo-fai-14.15,
           xivo-fai-14.16,
           xivo-fai-14.17,
           xivo-fai-asterisk-old,
           xivo-fai-asterisk-rc,
           xivo-fai-dev,
           xivo-fai-rc,
           xivo-fai-skaro,
           xivo-fai-skaro-12.14,
           xivo-fai-skaro-12.15,
           xivo-fai-skaro-12.16,
           xivo-fai-skaro-12.17,
           xivo-fai-skaro-12.18,
           xivo-fai-skaro-12.19,
           xivo-fai-skaro-12.20,
           xivo-fai-skaro-12.21,
           xivo-fai-skaro-12.22,
           xivo-fai-skaro-12.24,
           xivo-fai-skaro-13.01,
           xivo-fai-skaro-13.02,
           xivo-fai-skaro-13.03,
           xivo-fai-skaro-13.04,
           xivo-fai-skaro-13.05,
           xivo-fai-skaro-13.06,
           xivo-fai-skaro-13.07,
           xivo-fai-skaro-13.08,
           xivo-fai-skaro-13.09,
           xivo-fai-skaro-13.10,
           xivo-fai-skaro-13.11,
           xivo-fai-skaro-13.12,
           xivo-fai-skaro-13.13,
           xivo-fai-skaro-13.14,
           xivo-fai-skaro-13.16,
           xivo-fai-skaro-13.17,
           xivo-fai-skaro-13.19,
           xivo-fai-skaro-13.20,
           xivo-fai-skaro-13.21,
           xivo-fai-skaro-13.22,
           xivo-fai-skaro-13.23,
           xivo-fai-skaro-dev,
           xivo-fai-skaro-rc,
           xivo-wheezy-fai,
           xivo-wheezy-fai-skaro-dev
Description: XiVO repository sources manager
 XiVO is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
